body {
  background-color: gray;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  color: white;
}
.cheesegradient {
  background: linear-gradient(lightyellow, gold);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header { 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
} 
.headerbtn {
	float: right;
	height: 50px;
}
